body {
    margin: 0px;
    padding:0px;
    width:2222;
    text-align: center;
}

.head {
    margin: 22px;
    padding:24px;
}

p {
    font-size:16px;
    
}

h1 {
    font-sizing: 22px;
}

i {
   font-size: 16px;
}